#carouselExampleIndicators ol li {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #00BFFF;
  margin-bottom: 10%;
}

.carousel-item h1, h4 {
  text-align: center;
  display: grid;
  font-size: 3vw;
}

.carousel-item h4 {
  text-align: center;
  display: grid;
  font-size: 2vw;
}

#carouselExampleIndicators ol .active {
  border-top: 20px solid #800000;
}

#h1-after-header {
  font-size: 3vw;
  margin-top: 60px;
  text-align: center;
}

#grid-img {
  width: 300px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

#grid-img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.gridik {
  display: grid;
  padding: 15px;
  grid-gap: 5px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
}

#text-after-grid-img {
  text-align: center;
  margin-top: 10px;
}

#href-in-grid:hover {
  color: #FF4500;
  font-weight: bold;
  transition: 1s;
  text-decoration: none;
}